@import '~bootstrap/scss/bootstrap.scss';


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    font-family: 'Quicksand', sans-serif !important;
}

.navbar{
    background-color: #3f3f3f !important;
    color:white;
}

.navbar-brand{
    font-size: 2em !important;
    color: white !important;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.theDashboard{
    margin-right: 5%;
}

.jumbotron{
    background-color: #3f3f3f !important;
    color: white;
    border-bottom: 1px solid #2e3e48;
    padding: 2em 2em !important;
}

.rsvpBox{
    padding:1em;
    background-color:gray;
}

.theHost{
    padding: 0 0 0 30px !important;
}

/*.authors{*/
/*    margin-left: .5em !important;*/
/*}*/

.yesBTN{
    margin-bottom: 1em;
}

.details{
    margin-top: 1rem;
}
.card{
    margin-bottom: 2em;
}

.authors{
    margin-top: 1em;
}
.socialIcons{
    font-size: 2em;
}

.socialIcons *:nth-child(2){
    margin-left: 20px;
}

.footer{
    background-color: #3f3f3f;
    padding: 1em;
}